input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(73, 127, 236);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: rgb(77, 130, 234);
}